@page "/"

<h1>Blazored Modal Sample</h1>

<hr class="mb-5" />

<p>
    This is an example of using Blazored Modal in its most simplistic form.
</p>

<div class="card mb-4">
    <div class="card-body">
        <p class="card-text">
            <code>
                @("Modal.Show<Confirm>(\"Welcome to Blazored Modal\", options);")
            </code>
        </p>
    </div>
</div>

<p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor sodales nulla, consequat placerat dui ullamcorper ac. Etiam vel efficitur nibh, ac blandit metus. Donec risus nisl, condimentum accumsan orci nec, pharetra porta risus. Quisque laoreet orci justo, quis suscipit nulla finibus vel. Fusce id egestas ex. Nullam ac neque accumsan, molestie sapien at, tincidunt tortor. Nulla tincidunt ligula sit amet sapien elementum, id iaculis leo rhoncus. Donec convallis hendrerit ipsum, ut consectetur nunc euismod consequat. Etiam non mauris tristique, tempus metus sed, accumsan nulla. Vestibulum consequat nunc ante, non placerat ligula imperdiet at. Donec non felis convallis, egestas mi sit amet, tincidunt velit. Praesent ornare pulvinar est, ac tincidunt lectus molestie id. Integer consequat semper mauris, in tristique dui ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

<p>
     Aenean hendrerit erat in nisi posuere molestie. Aliquam erat volutpat. Morbi fermentum congue eros, ac viverra enim congue ut. Ut viverra id nisi eu dictum. Mauris ornare dui ac dignissim ullamcorper. Etiam nec mi molestie, mollis odio eget, dapibus nibh. Integer molestie, risus non sodales faucibus, ipsum nisl feugiat leo, ac volutpat turpis nunc rhoncus purus. Morbi in metus dictum, viverra purus in, dictum lorem. Duis eget enim bibendum, vestibulum elit in, consectetur elit. Fusce a scelerisque est, sed commodo sapien. Pellentesque finibus ultrices leo, sit amet pretium urna condimentum nec. Nulla consequat tellus mauris, porttitor porta nulla aliquet eu. Nam venenatis sem eu orci laoreet, eget mattis odio blandit.
</p>

<p>
     Donec eu dignissim justo. In euismod neque vulputate augue dapibus, convallis malesuada elit tempor. Ut eget quam at ante lacinia consectetur. In accumsan vel metus ut eleifend. Mauris sapien nulla, elementum vitae egestas ut, vehicula a nulla. Donec vitae neque sed nisl tempus fringilla. Duis ac finibus felis. In eu ultricies justo. Nam laoreet interdum convallis.
</p>

<p>
    Donec pulvinar augue ac ipsum elementum mollis. Phasellus ullamcorper, velit sed egestas rhoncus, eros dolor tincidunt felis, vel vulputate ipsum mauris id lectus. Proin eu eleifend odio, id dapibus nulla. Aenean mollis sapien ac sem accumsan viverra. Nam mi nulla, congue sit amet tortor et, pellentesque tincidunt arcu. Mauris a dictum felis. Sed porttitor gravida blandit.
</p>

<p>
    Duis eu suscipit sapien. Nulla facilisis efficitur lectus vitae faucibus. Cras at luctus neque, ac finibus libero. Morbi commodo congue porta. Fusce sapien massa, accumsan ut pulvinar ac, dapibus vitae justo. Nunc leo mauris, viverra et bibendum nec, pulvinar nec ipsum. Praesent sem magna, cursus sed vestibulum quis, suscipit eget nibh. Duis vel arcu at nisi auctor varius vel at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sed sem scelerisque, dignissim lectus auctor, commodo odio. Mauris ac fringilla lacus. Suspendisse vestibulum at ligula quis vestibulum. Proin et ipsum euismod, placerat arcu et, vehicula velit. Duis molestie auctor arcu vel faucibus. Proin rutrum imperdiet magna. Integer imperdiet urna quam, sit amet ultrices sem condimentum et.
</p>

<p>
     Aenean hendrerit erat in nisi posuere molestie. Aliquam erat volutpat. Morbi fermentum congue eros, ac viverra enim congue ut. Ut viverra id nisi eu dictum. Mauris ornare dui ac dignissim ullamcorper. Etiam nec mi molestie, mollis odio eget, dapibus nibh. Integer molestie, risus non sodales faucibus, ipsum nisl feugiat leo, ac volutpat turpis nunc rhoncus purus. Morbi in metus dictum, viverra purus in, dictum lorem. Duis eget enim bibendum, vestibulum elit in, consectetur elit. Fusce a scelerisque est, sed commodo sapien. Pellentesque finibus ultrices leo, sit amet pretium urna condimentum nec. Nulla consequat tellus mauris, porttitor porta nulla aliquet eu. Nam venenatis sem eu orci laoreet, eget mattis odio blandit.
</p>

<p>
     Donec eu dignissim justo. In euismod neque vulputate augue dapibus, convallis malesuada elit tempor. Ut eget quam at ante lacinia consectetur. In accumsan vel metus ut eleifend. Mauris sapien nulla, elementum vitae egestas ut, vehicula a nulla. Donec vitae neque sed nisl tempus fringilla. Duis ac finibus felis. In eu ultricies justo. Nam laoreet interdum convallis.
</p>

<p>
    Donec pulvinar augue ac ipsum elementum mollis. Phasellus ullamcorper, velit sed egestas rhoncus, eros dolor tincidunt felis, vel vulputate ipsum mauris id lectus. Proin eu eleifend odio, id dapibus nulla. Aenean mollis sapien ac sem accumsan viverra. Nam mi nulla, congue sit amet tortor et, pellentesque tincidunt arcu. Mauris a dictum felis. Sed porttitor gravida blandit.
</p>

<p>
    Duis eu suscipit sapien. Nulla facilisis efficitur lectus vitae faucibus. Cras at luctus neque, ac finibus libero. Morbi commodo congue porta. Fusce sapien massa, accumsan ut pulvinar ac, dapibus vitae justo. Nunc leo mauris, viverra et bibendum nec, pulvinar nec ipsum. Praesent sem magna, cursus sed vestibulum quis, suscipit eget nibh. Duis vel arcu at nisi auctor varius vel at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sed sem scelerisque, dignissim lectus auctor, commodo odio. Mauris ac fringilla lacus. Suspendisse vestibulum at ligula quis vestibulum. Proin et ipsum euismod, placerat arcu et, vehicula velit. Duis molestie auctor arcu vel faucibus. Proin rutrum imperdiet magna. Integer imperdiet urna quam, sit amet ultrices sem condimentum et.
</p>

<p>
     Aenean hendrerit erat in nisi posuere molestie. Aliquam erat volutpat. Morbi fermentum congue eros, ac viverra enim congue ut. Ut viverra id nisi eu dictum. Mauris ornare dui ac dignissim ullamcorper. Etiam nec mi molestie, mollis odio eget, dapibus nibh. Integer molestie, risus non sodales faucibus, ipsum nisl feugiat leo, ac volutpat turpis nunc rhoncus purus. Morbi in metus dictum, viverra purus in, dictum lorem. Duis eget enim bibendum, vestibulum elit in, consectetur elit. Fusce a scelerisque est, sed commodo sapien. Pellentesque finibus ultrices leo, sit amet pretium urna condimentum nec. Nulla consequat tellus mauris, porttitor porta nulla aliquet eu. Nam venenatis sem eu orci laoreet, eget mattis odio blandit.
</p>

<p>
     Donec eu dignissim justo. In euismod neque vulputate augue dapibus, convallis malesuada elit tempor. Ut eget quam at ante lacinia consectetur. In accumsan vel metus ut eleifend. Mauris sapien nulla, elementum vitae egestas ut, vehicula a nulla. Donec vitae neque sed nisl tempus fringilla. Duis ac finibus felis. In eu ultricies justo. Nam laoreet interdum convallis.
</p>

<p>
    Donec pulvinar augue ac ipsum elementum mollis. Phasellus ullamcorper, velit sed egestas rhoncus, eros dolor tincidunt felis, vel vulputate ipsum mauris id lectus. Proin eu eleifend odio, id dapibus nulla. Aenean mollis sapien ac sem accumsan viverra. Nam mi nulla, congue sit amet tortor et, pellentesque tincidunt arcu. Mauris a dictum felis. Sed porttitor gravida blandit.
</p>

<p>
    Duis eu suscipit sapien. Nulla facilisis efficitur lectus vitae faucibus. Cras at luctus neque, ac finibus libero. Morbi commodo congue porta. Fusce sapien massa, accumsan ut pulvinar ac, dapibus vitae justo. Nunc leo mauris, viverra et bibendum nec, pulvinar nec ipsum. Praesent sem magna, cursus sed vestibulum quis, suscipit eget nibh. Duis vel arcu at nisi auctor varius vel at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sed sem scelerisque, dignissim lectus auctor, commodo odio. Mauris ac fringilla lacus. Suspendisse vestibulum at ligula quis vestibulum. Proin et ipsum euismod, placerat arcu et, vehicula velit. Duis molestie auctor arcu vel faucibus. Proin rutrum imperdiet magna. Integer imperdiet urna quam, sit amet ultrices sem condimentum et.
</p>

<p>
     Aenean hendrerit erat in nisi posuere molestie. Aliquam erat volutpat. Morbi fermentum congue eros, ac viverra enim congue ut. Ut viverra id nisi eu dictum. Mauris ornare dui ac dignissim ullamcorper. Etiam nec mi molestie, mollis odio eget, dapibus nibh. Integer molestie, risus non sodales faucibus, ipsum nisl feugiat leo, ac volutpat turpis nunc rhoncus purus. Morbi in metus dictum, viverra purus in, dictum lorem. Duis eget enim bibendum, vestibulum elit in, consectetur elit. Fusce a scelerisque est, sed commodo sapien. Pellentesque finibus ultrices leo, sit amet pretium urna condimentum nec. Nulla consequat tellus mauris, porttitor porta nulla aliquet eu. Nam venenatis sem eu orci laoreet, eget mattis odio blandit.
</p>

<p>
     Donec eu dignissim justo. In euismod neque vulputate augue dapibus, convallis malesuada elit tempor. Ut eget quam at ante lacinia consectetur. In accumsan vel metus ut eleifend. Mauris sapien nulla, elementum vitae egestas ut, vehicula a nulla. Donec vitae neque sed nisl tempus fringilla. Duis ac finibus felis. In eu ultricies justo. Nam laoreet interdum convallis.
</p>

<p>
    Donec pulvinar augue ac ipsum elementum mollis. Phasellus ullamcorper, velit sed egestas rhoncus, eros dolor tincidunt felis, vel vulputate ipsum mauris id lectus. Proin eu eleifend odio, id dapibus nulla. Aenean mollis sapien ac sem accumsan viverra. Nam mi nulla, congue sit amet tortor et, pellentesque tincidunt arcu. Mauris a dictum felis. Sed porttitor gravida blandit.
</p>

<p>
    Duis eu suscipit sapien. Nulla facilisis efficitur lectus vitae faucibus. Cras at luctus neque, ac finibus libero. Morbi commodo congue porta. Fusce sapien massa, accumsan ut pulvinar ac, dapibus vitae justo. Nunc leo mauris, viverra et bibendum nec, pulvinar nec ipsum. Praesent sem magna, cursus sed vestibulum quis, suscipit eget nibh. Duis vel arcu at nisi auctor varius vel at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sed sem scelerisque, dignissim lectus auctor, commodo odio. Mauris ac fringilla lacus. Suspendisse vestibulum at ligula quis vestibulum. Proin et ipsum euismod, placerat arcu et, vehicula velit. Duis molestie auctor arcu vel faucibus. Proin rutrum imperdiet magna. Integer imperdiet urna quam, sit amet ultrices sem condimentum et.
</p>

<p>
     Aenean hendrerit erat in nisi posuere molestie. Aliquam erat volutpat. Morbi fermentum congue eros, ac viverra enim congue ut. Ut viverra id nisi eu dictum. Mauris ornare dui ac dignissim ullamcorper. Etiam nec mi molestie, mollis odio eget, dapibus nibh. Integer molestie, risus non sodales faucibus, ipsum nisl feugiat leo, ac volutpat turpis nunc rhoncus purus. Morbi in metus dictum, viverra purus in, dictum lorem. Duis eget enim bibendum, vestibulum elit in, consectetur elit. Fusce a scelerisque est, sed commodo sapien. Pellentesque finibus ultrices leo, sit amet pretium urna condimentum nec. Nulla consequat tellus mauris, porttitor porta nulla aliquet eu. Nam venenatis sem eu orci laoreet, eget mattis odio blandit.
</p>

<p>
     Donec eu dignissim justo. In euismod neque vulputate augue dapibus, convallis malesuada elit tempor. Ut eget quam at ante lacinia consectetur. In accumsan vel metus ut eleifend. Mauris sapien nulla, elementum vitae egestas ut, vehicula a nulla. Donec vitae neque sed nisl tempus fringilla. Duis ac finibus felis. In eu ultricies justo. Nam laoreet interdum convallis.
</p>

<p>
    Donec pulvinar augue ac ipsum elementum mollis. Phasellus ullamcorper, velit sed egestas rhoncus, eros dolor tincidunt felis, vel vulputate ipsum mauris id lectus. Proin eu eleifend odio, id dapibus nulla. Aenean mollis sapien ac sem accumsan viverra. Nam mi nulla, congue sit amet tortor et, pellentesque tincidunt arcu. Mauris a dictum felis. Sed porttitor gravida blandit.
</p>

<p>
    Duis eu suscipit sapien. Nulla facilisis efficitur lectus vitae faucibus. Cras at luctus neque, ac finibus libero. Morbi commodo congue porta. Fusce sapien massa, accumsan ut pulvinar ac, dapibus vitae justo. Nunc leo mauris, viverra et bibendum nec, pulvinar nec ipsum. Praesent sem magna, cursus sed vestibulum quis, suscipit eget nibh. Duis vel arcu at nisi auctor varius vel at erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sed sem scelerisque, dignissim lectus auctor, commodo odio. Mauris ac fringilla lacus. Suspendisse vestibulum at ligula quis vestibulum. Proin et ipsum euismod, placerat arcu et, vehicula velit. Duis molestie auctor arcu vel faucibus. Proin rutrum imperdiet magna. Integer imperdiet urna quam, sit amet ultrices sem condimentum et.
</p>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }

    void ShowModal() => Modal.Show<Confirm>("Welcome to Blazored Modal");

}
